<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="components/navbar/navbar.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar_ul">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/projects/index.html">Projects</a></li>
            <li><a href="/contact/index.html">Contact</a></li>
            <li><a href="/about/index.html">About</a></li>
            <li><a href="/art/index.html">Art</a></li>
        </ul>
    </nav>
</body>
</html>