@font-face {
    font-family: "Adelia";
    src: url("/assets/fonts/IthornЙt.ttf") format("truetype");
}


.navbar {
    position: relative;
    z-index: 10;
    width: 100%;
}

.navbar_ul {
    padding: 70px 660px;
    display: flex;
    gap: 20px;
}

.navbar_ul li {
    list-style: none;
}


.navbar a {
    display: inline-block;  
    font-family: "Adelia", sans-serif;
    font-size: 2.8rem;

    color: rgba(255, 255, 255, 0.9);
    padding: 6px 10px;
    opacity: 0.8;
    text-decoration:none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.navbar a:hover {
    transform: translateY(-10px);
    opacity: 1;
    text-shadow: 0 0 60px rgba(255,255,255,1);
}

